In [131]:
import pandas as pd
import numpy as np

In [132]:
train_data = pd.read_csv('preprocced_data.csv')
data_labels = pd.read_csv('train-labels.csv')
test = pd.read_csv('preprocced_test_data.csv')

In [133]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59400 non-null  int64
 1   amount_tsh         59400 non-null  float64
 2   funder             59400 non-null  object
 3   gps_height         59400 non-null  float64
 4   longitude          59400 non-null  float64
 5   latitude           59400 non-null  float64
 6   basin              59400 non-null  object
 7   region             59400 non-null  object
 8   district_code      59400 non-null  int64
 9   lga                59400 non-null  object
 10  population         59400 non-null  float64
 11  scheme_management  59400 non-null  object
 12  extraction_type    59400 non-null  object
 13  management         59400 non-null  object
 14  payment_type       59400 non-null  object
 15  water_quality      59400 non-null  object
 16  quantity           59400 non-null  object
 17  source             59400 non-null  object
 18  waterpoint_type    59400 non-null  object
 19  no_working_years   59400 non-null  float64
dtypes: float64(6), int64(2), object(12)
memory usage: 9.1+ MB

In [134]:
data_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            59400 non-null  int64
 1   status_group  59400 non-null  object
dtypes: int64(1), object(1)
memory usage: 928.2+ KB

In [135]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 14850 non-null  int64
 1   amount_tsh         14850 non-null  float64
 2   funder             14850 non-null  object
 3   gps_height         14850 non-null  float64
 4   longitude          14850 non-null  float64
 5   latitude           14850 non-null  float64
 6   basin              14850 non-null  object
 7   region             14850 non-null  object
 8   district_code      14850 non-null  int64
 9   lga                14850 non-null  object
 10  population         14850 non-null  float64
 11  scheme_management  14850 non-null  object
 12  extraction_type    14850 non-null  object
 13  management         14850 non-null  object
 14  payment_type       14850 non-null  object
 15  water_quality      14850 non-null  object
 16  quantity           14850 non-null  object
 17  source             14850 non-null  object
 18  waterpoint_type    14850 non-null  object
 19  no_working_years   14850 non-null  float64
dtypes: float64(6), int64(2), object(12)
memory usage: 2.3+ MB

In [136]:
train_data.shape,data_labels.shape,test.shape

((59400, 20), (59400, 2), (14850, 20))

In [137]:
target=data_labels.pop('status_group')

In [138]:
train_data['train']=1
test['train']=0
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59400 non-null  int64
 1   amount_tsh         59400 non-null  float64
 2   funder             59400 non-null  object
 3   gps_height         59400 non-null  float64
 4   longitude          59400 non-null  float64
 5   latitude           59400 non-null  float64
 6   basin              59400 non-null  object
 7   region             59400 non-null  object
 8   district_code      59400 non-null  int64
 9   lga                59400 non-null  object
 10  population         59400 non-null  float64
 11  scheme_management  59400 non-null  object
 12  extraction_type    59400 non-null  object
 13  management         59400 non-null  object
 14  payment_type       59400 non-null  object
 15  water_quality      59400 non-null  object
 16  quantity           59400 non-null  object
 17  source             59400 non-null  object
 18  waterpoint_type    59400 non-null  object
 19  no_working_years   59400 non-null  float64
 20  train              59400 non-null  int64
dtypes: float64(6), int64(3), object(12)
memory usage: 9.5+ MB

In [139]:
train_data.shape,test.shape

((59400, 21), (14850, 21))

In [140]:
combined = pd.concat([train_data, test])

In [141]:
combined['funder'] = pd.factorize(combined['funder'])[0]
#combined['installer'] = pd.factorize(combined['installer'])[0]
combined['scheme_management'] = pd.factorize(combined['scheme_management'])[0]
combined['extraction_type'] = pd.factorize(combined['extraction_type'])[0]
combined['management'] = pd.factorize(combined['management'])[0]
combined['payment_type'] = pd.factorize(combined['payment_type'])[0]
combined['water_quality'] = pd.factorize(combined['water_quality'])[0]
combined['quantity'] = pd.factorize(combined['quantity'])[0]
combined['source'] = pd.factorize(combined['source'])[0]
combined['waterpoint_type'] = pd.factorize(combined['waterpoint_type'])[0]
combined['basin'] = pd.factorize(combined['basin'])[0]
combined['region'] = pd.factorize(combined['region'])[0]
combined['lga'] = pd.factorize(combined['lga'])[0]
combined['district_code'] = pd.factorize(combined['district_code'])[0]
combined['no_working_years'] = pd.factorize(combined['no_working_years'])[0]
combined.district_code.head(5)

0    0
1    1
2    2
3    3
4    4
Name: district_code, dtype: int64

In [142]:
train_df = combined[combined["train"] == 1]
test_df = combined[combined["train"] == 0]
train_df.drop(["train"], axis=1, inplace=True)
train_df.drop(['id'],axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [143]:
X = train_df
y = target

In [144]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=1000)

In [145]:
#from sklearn.svm import SVC
#clf = SVC()

In [146]:
from xgboost import XGBClassifier
model_xgb = XGBClassifier(objective = 'multi:softmax', booster = 'gbtree', nrounds = 'min.error.idx', 
                      num_class = 4, maximize = False, eval_metric = 'merror', eta = .2,
                      max_depth = 14, colsample_bytree = .4)

In [147]:
X

       amount_tsh  funder  ...  waterpoint_type  no_working_years
0        0.342846       0  ...                0                 0
1        0.021397       1  ...                0                 1
2        0.001417       2  ...                1                 2
3        0.005729       3  ...                1                 3
4        0.079573       4  ...                0                 4
...           ...     ...  ...              ...               ...
59395    0.000560      58  ...                0                30
59396    0.268560     422  ...                0                31
59397    0.079573      25  ...                2                 4
59398    0.079573     639  ...                2                13
59399    0.023451      68  ...                2                16

[59400 rows x 19 columns]

In [148]:
model = model_rfc

In [149]:
X

       amount_tsh  funder  ...  waterpoint_type  no_working_years
0        0.342846       0  ...                0                 0
1        0.021397       1  ...                0                 1
2        0.001417       2  ...                1                 2
3        0.005729       3  ...                1                 3
4        0.079573       4  ...                0                 4
...           ...     ...  ...              ...               ...
59395    0.000560      58  ...                0                30
59396    0.268560     422  ...                0                31
59397    0.079573      25  ...                2                 4
59398    0.079573     639  ...                2                13
59399    0.023451      68  ...                2                16

[59400 rows x 19 columns]

In [150]:
from sklearn.model_selection import cross_val_score
cross_val_score(model, X, y, cv=3)

array([0.80454545, 0.80252525, 0.79964646])

In [151]:
model.fit(X,y)
importances = model.feature_importances_
importances

array([0.03447654, 0.05380477, 0.07694185, 0.15171345, 0.14995936,
       0.01676612, 0.02298469, 0.02168111, 0.03093296, 0.05222841,
       0.01616923, 0.05615486, 0.01824329, 0.03138004, 0.01431379,
       0.11547218, 0.03030608, 0.05820144, 0.04826982])

In [152]:
importances = model.feature_importances_
importances
indices = np.argsort(importances)[::-1]

print("Feature rankings")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

for f in range(X.shape[1]):
    print(X.columns[indices[f]],end=', ')

Feature rankings
1. feature 3 (0.151713)
2. feature 4 (0.149959)
3. feature 15 (0.115472)
4. feature 2 (0.076942)
5. feature 17 (0.058201)
6. feature 11 (0.056155)
7. feature 1 (0.053805)
8. feature 9 (0.052228)
9. feature 18 (0.048270)
10. feature 0 (0.034477)
11. feature 13 (0.031380)
12. feature 8 (0.030933)
13. feature 16 (0.030306)
14. feature 6 (0.022985)
15. feature 7 (0.021681)
16. feature 12 (0.018243)
17. feature 5 (0.016766)
18. feature 10 (0.016169)
19. feature 14 (0.014314)
longitude, latitude, quantity, gps_height, waterpoint_type, extraction_type, funder, population, no_working_years, amount_tsh, payment_type, lga, source, region, district_code, management, basin, scheme_management, water_quality,

In [153]:
X_test=test_df

In [154]:
model.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [155]:
a=X_test['id']
X_test.drop(['id'],axis=1, inplace=True)
y_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [156]:
y_pred=pd.DataFrame(y_pred)
y_pred['id']=a
y_pred.columns=['status_group','id']
y_pred=y_pred[['id','status_group']]

In [157]:
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            14850 non-null  int64
 1   status_group  14850 non-null  object
dtypes: int64(1), object(1)
memory usage: 232.2+ KB

In [158]:
y_pred.to_csv("submission.csv",index=False)